<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function updateFileName() {
            var input = document.getElementById('image');
            var fileName = input.files[0] ? input.files[0].name : 'No file chosen';
            document.getElementById('file-name').textContent = fileName;
        }
    </script>
</head>
<body>
    <h1>Select an Option</h1>
    <form action="{{ url_for('start_capture') }}" method="POST">
        <button type="submit">Air Write</button>
    </form>
    <br>
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
        <label for="image" class="custom-file-upload">
            Select an image
        </label>
        <input type="file" id="image" name="image" accept="image/*" required onchange="updateFileName()">
        <span id="file-name">No file chosen</span>
        <button type="submit">Analyze</button>
    </form>
</body>
</html>
